<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 获取手机录音机使用权限，识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 授权需要 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 保存文件需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 保存文件需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 云端功能需要用到此权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- demo 需要 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- demo 需要，语法文件添加手机通讯录内的联系人时需要 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.hzx.SpeechApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_speech"
        android:label="@string/app_name"
        android:theme="@style/Platform.MaterialComponents.Light">
        <activity
            android:name="com.hzx.ui.CloudAsrActivity"
            android:exported="false" />
        <activity
            android:name="com.hzx.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>